<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Header Sample</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<div class="header">
    <div class="menu">
        <a href="#">메뉴1</a>
        <div class="submenu">
            <a href="#">하위메뉴1-1</a>
            <a href="#">하위메뉴1-2</a>
            <a href="#">하위메뉴1-3</a>
        </div>
    </div>

    <div class="menu">
        <a href="#">메뉴2</a>
        <div class="submenu">
            <a href="#">하위메뉴2-1</a>
            <a href="#">하위메뉴2-2</a>
        </div>
    </div>

    <div class="menu">
        <a href="#">메뉴3</a>
        <div class="submenu">
            <a href="#">하위메뉴3-1</a>
            <a href="#">하위메뉴3-2</a>
            <a href="#">하위메뉴3-3</a>
        </div>
    </div>
</div>

</body>
</html>